body{
    font-family:Ubuntu mono;
    background-color: #a9c2fb;
    color:aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    font-family:Passion One;
    font-size:70pt;
    word-spacing: 10px;
    letter-spacing: 4 px;
}

h2{
    font-size: 40pt;
    text-align: center;
    margin-bottom: 2px;
}

header {
    text-align: center;
}

/* Hero section */

#hero, footer {
    font-size: 20pt;
    text-align: center;
    background-color: #264791;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    padding-bottom: 2rem;
    border: 5px solid white;
}

#hero img {
    width: 300px;
}

/* Bio section */

#bio div{
    padding: 5px;
    border: 5px solid white;
    background-color: #264791;
}

#bio {
    text-align: center;
    font-size: 15pt; 
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
}

/* Hobbies section */

#hobbies{
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    font-size: 20pt;
    padding: 5px;
    border: 5px solid white;
    background-color: #264791;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* Gallery */

#gallery{
    text-align: center;
    margin-bottom: 1rem;
    border: 5px solid white;
    margin-top: 1rem;
    background-color: #264791;
}

#gallery img{
    max-width: 100%;
}

#gallery figure{
    text-align: center;
}
    

#gallery figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-right: 1rem;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
}

/* Article */

#lit{
    padding: 5px;
    border: 5px solid white;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    background-color: #264791;
}

#lit div {
    padding:2rem;
    max-width:100%;
    columns: 40rem;
}





/* media query */

@media screen and (max-width: 60em){
    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #lit div{
        max-width: 100%;
        columns: 2;
    }
}

@media screen and (min-width: 100em){
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }  
    hr{
        display: none;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
    #lit div{
        max-width: 100%;
        columns: 4;
    }
}


/* Video */ 

#video {
    width:100%;
    text-align:center;
}


/* Contact form */

#formElements {
    display: grid;
}
 