body{
    font-family:Ubuntu mono;
    background-color: #80a7ff;
    color:aliceblue;
}


h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    font-family:Passion One;
    font-size:70pt;
    word-spacing: 10px;
    letter-spacing: 4 px;
}
h2{
    font-size: 40pt;
    text-align: center;
    margin-bottom: 2px;
    
}


header {
    text-align: center;
}

/* Hero section */

#hero, footer {
    font-size: 20pt;
    text-align: center;
    background-color: #264791;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    padding-bottom: 2rem;
}

#hero img {
    width: 400px;
}

/* Bio section */

#bio div{
    padding: 5px;
    border: 5px solid white;
    background-color: #264791;
}

#bio {
    text-align: center;
    font-size: 15pt;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
}

/* Hobbies section */

#hobbies{
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    font-size: 20pt;
    padding: 5px;
    border: 5px solid white;
    background-color: #264791;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* Gallery */

#gallery{
    text-align: center;
    margin-bottom: 2rem;
}

#gallery img{
    max-width: 100%;
}

#gallery figure{
    text-align: left;
    font-size: 30px;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    padding: 20px;
    display:grid;
    grid-template-columns: 2fr 1fr;
}

#gallery figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-right: 1rem;
}

/* Article */

#lit{
    padding: 5px;
    border: 5px solid white;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
    background-color: #264791;
}

#lit div {
    padding:2rem;
}


@media screen(min-width: 60rem){
    columns: 1;
}